@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap'); //Dosis Font

$primaryColor: #ffbc00;
$darkGrey: #cccccc;
$lightGrey: #f4f4f4;
$secondaryColor: #333333;
